[Unit]
Description={{.App}} service
After=network.target

[Service]
User={{.ServiceUser}}
Group={{.ServiceGroup}}
WorkingDirectory=/opt/{{.App}}
EnvironmentFile=-/etc/{{.App}}/app.env
ExecStart=/usr/bin/java $JAVA_OPTS -jar /opt/{{.App}}/{{.App}}.jar
Restart=always
RestartSec=10
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=/opt/{{.App}}

[Install]
WantedBy=multi-user.target
