# Runtime configuration for {{.App}}
# ──────────────────────────────────────────────────────────────────────────────
# This is the example / template config. Copy it to app.env and edit for your
# environment. Run `make config-init` or `kt config init` to do this automatically.
# ──────────────────────────────────────────────────────────────────────────────

# Runtime environment
APP_ENV=production

# Log level: debug, info, warn, error
# LOG_LEVEL=info
