# Configuration for {{.App}}
# Copy this file to app.env and edit values as needed.
# Run `make config-init` to do this automatically.

# HTTP port the service listens on
PORT={{.Port}}

# Runtime environment: production, development
NODE_ENV=production
