[Unit]
Description={{.App}} backend
After=network.target

[Service]
User={{.ServiceUser}}
Group={{.ServiceGroup}}
WorkingDirectory=/opt/{{.App}}/backend
EnvironmentFile=-/etc/{{.App}}/app.env
ExecStart=/usr/bin/java $JAVA_OPTS -jar /opt/{{.App}}/backend/backend.jar
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
