# Project contract used by kt, Make, and packaging.
# Safe to edit after scaffold.
schema: kt.project/v1
template: {{.Template}}
app: {{.App}}
kind: service
package:
  name: {{.App}}
  maintainer: {{.Author}}
  description: {{.App}} service
  section: default
services:
  - name: {{.App}}
    runner: deploy/run/{{.App}}
    unit: deploy/systemd/{{.App}}.service
    user: {{.ServiceUser}}
    group: {{.ServiceGroup}}
config:
  dir: deploy/config
  install_dir: /etc/{{.App}}
  example_suffix: .example
release:
  tag_prefix: v
kt:
  scaffold_version: "1.4"
