name: {{.App}}
arch: ${ARCH}
platform: linux
version: ${VERSION}
section: default
priority: optional
maintainer: {{.Author}}
description: {{.App}} CLI
contents:
  - src: dist/app/usr/local/bin/{{.App}}
    dst: /usr/local/bin/{{.App}}
overrides:
  rpm:
    group: Applications/System
